.menu ul{
 display: flex; /* ogeleri yanyana getirme*/
 list-style: none;
 padding: 0;
 margin: 1;
 font-size: 20px;
}
.menu li{
    margin-right: 10px;
}
.menu a{
    text-decoration: none; /*Link altını çizmesini kaldırmak*/
    color: black;
}
#bg-video {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
.herobanner{
position: absolute;
margin-left: 67vh;
margin-top: 30vh;
font-size: 50px;
color: rgb(0, 72, 255);
border: 0;
border:3px solid;
}
  
  
  